/* MAIN CSS Stylesheet */
/* Mobile first */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");
:root {
  --colorText: rgb(68, 10, 10);
  --headerFont: "Roboto Slab", serif;
  --mainFont: "Roboto Slab", serif;
}
/* global stuff */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: var(--mainFont);
  overflow-x: hidden;
  background-image: url(../assets/textures/natural-paper.png);
  background-color: rgb(238, 229, 224);
}

img {
  width: 100%;
  display: block;
}
header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
}
main {
  padding: 0 1rem;
  min-height: 82vh;
  margin-bottom: 1rem;
}

button {
  font-family: var(--mainFont);
}

footer {
  width: 100%;
  border-top: double 4px var(--colorText);
  bottom: 0;
  padding: 0.5rem;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

/* mobile styling */

/* notifications */
.notification-red,
.notification-blue,
.notification-green {
  position: fixed;
  top: 64px;
  right: -120%;
  padding: 0.75rem 1rem;
  transition: 1s ease-in-out;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
  z-index: 10;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.notification-red {
  background-color: rgb(233, 16, 16);
  background-image: url(../assets/textures/red-notif-bg.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  z-index: 12;
  top: 64px;
}

.notification-red:before {
  content: " ";
  position: absolute;
  top: 0;
  left: -30px;
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url(../assets/textures/red-notif-ribbon.png);
  background-size: contain;
}

.notification-blue {
  background-color: rgb(16, 117, 233);
  background-image: url(../assets/textures/blue-notif-bg.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  top: 12px;
}

.notification-blue:before {
  content: " ";
  position: absolute;
  top: 0;
  left: -30px;
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url(../assets/textures/blue-notif-ribbon.png);
  background-size: contain;
}

.notification-green {
  background-color: rgb(30, 107, 65);
  background-image: url(../assets/textures/green-notif-bg.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  z-index: 11;
}
.notification-green:before {
  content: " ";
  position: absolute;
  top: 0;
  left: -30px;
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url(../assets/textures/green-notif-ribbon.png);
  background-size: contain;
}

.show-notification {
  right: 0;
}

#student-list-wrapper {
  display: grid;
  padding: 0.5rem 0;
}
#student-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#interaction-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
#about-panel {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  margin-bottom: 1rem;
  background-image: url(../assets/textures/clean-gray-paper.png);
  background-color: rgb(255, 250, 238);
  padding: 1rem;
  border-radius: 0.5rem;
  border: double 5px rgba(231, 37, 24, 0.1);
  height: fit-content;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.178);
  align-items: center;
  color: var(--colorText);
}

#about-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
/* student card */
.student-card {
  display: grid;
  grid-template-columns: 32px 32px 5fr 2fr 2fr;
  gap: 0.5rem;
  align-items: center;
  background: url(../assets/textures/parchment.jpg);
  padding: 0.25rem 0.5rem;
  transition: 0.5s ease-in-out;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.219);
  outline: solid 2px rgba(231, 37, 24, 0.1);
  position: relative;
  left: 0;
  color: var(--colorText);
}

.student-card:before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 80px;
  background-image: url(../assets/ui_elements/arrow-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: -5rem;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.student-card:hover {
  box-shadow: -4px 2px 0.5rem rgba(0, 0, 0, 0.2);
  outline: solid 2px rgba(158, 77, 52, 0.4);
}

.student-card:hover .student-card-name {
  text-shadow: 0px 0px 1px rgb(163, 94, 48);
}

.student-card-name {
  color: var(--colorText);
  font-weight: 400;
  transition: 0.5s;
}

.student-card button {
  cursor: pointer;
}

.student-card-additional-info {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}

.student-card-additional-info span {
  background: #ccc;
  padding: 0.2rem;
  width: 20px;
  height: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 50%;
}

.student-card-house-image,
.student-card-student-image {
  width: 2rem;
}

#student-list-wrapper aside {
  order: -1;
}

.student-card-additional-info img {
  width: 36px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.student-card-details-button,
#showAllButton,
.student-details-admin button {
  border: none;
  background: rgb(173, 63, 43);
  color: rgb(255, 186, 130);
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  border: double 3px rgba(255, 157, 92, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
  transition: 0.5s;
}

.student-card-details-button:hover,
#showAllButton:hover,
.student-details-admin button:hover {
  transform: translateY(2px);
  background: rgb(109, 27, 13);
  color: rgb(255, 208, 170);
  border: double 3px rgba(255, 190, 146, 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.377);
}

.student-card-details-button:active,
#showAllButton:active,
.student-details-admin button:active {
  transform: translateY(4px);
  background: rgb(83, 18, 6);
  color: rgb(255, 219, 190);
  border: double 3px rgba(255, 217, 192, 0.5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.377);
}

#showAllButton {
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.student-details-admin button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
/* popup */

.student-details-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 120%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  transition-delay: 0.5s, 0s;
  transition-property: left, background-color;
  transition-timing-function: ease-in-out;
}

.show-student-details {
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition-delay: 0s, 0.4s;
  transition-property: left, background-color;
}

/* student details */
.student-details {
  background-image: url(../assets/textures/clean-gray-paper.png);
  background-color: rgb(255, 245, 227);
  border: double 5px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.student-details-ribbon {
  width: 102%;
  height: 60px;
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: solid 4px #ccc;
  border-left: none;
  border-right: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-image: url(../assets/textures/az-subtle.png);
}
.student-details-ribbon img:first-of-type {
  width: 100px;
  position: absolute;
  top: -24px;
  left: -40px;
  filter: drop-shadow(0px 4px 2px rgb(0 0 0 / 0.5));
}
.student-details-ribbon img:last-of-type {
  width: 30px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.student-details-ribbon img:last-of-type:hover {
  transform: rotate(15deg) scale(1.1);
  opacity: 1;
}

.student-details-info img {
  width: 100px;
  height: auto;
  position: relative;
}

.student-details-img-wrapper::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: url(../assets/ui_elements/student-frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.student-details-img-wrapper {
  width: fit-content;
  position: relative;
  margin: auto;
}

.student-details-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.student-details-info h2 {
  margin-bottom: 0.5rem;
}

.student-details-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 1rem;
}

.student-card-image-frame {
  position: relative;
}

.student-card-image-frame::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: url(../assets/ui_elements/student-frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.student-details-text {
  border: double 4px var(--colorText);
  padding: 0.5rem;
}

.student-details-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
  margin: 1rem 0;
  border: 1px solid var(--colorText);
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(138, 93, 76, 0.2);
}

.student-details-icons img {
  width: 100%;
}

#interaction-panel select,
#interaction-panel input {
  padding: 0.25rem 0.5rem;
  border: double 4px rgba(87, 74, 70, 0.5);
  border-radius: 0.25rem;
  font-family: var(--mainFont);
  background: rgba(116, 51, 35, 0.05);
  color: var(--colorText);
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#interaction-panel select:focus,
#interaction-panel input:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(87, 74, 70, 0.3);
}

/* ----------------------------- MEDIA QUERIES -----------------------------*/
@media screen and (min-width: 768px) {
  header {
    padding: 1rem 3rem;
  }

  aside {
    position: relative;
  }
  #about-panel {
    position: fixed;
    width: -webkit-fill-available;
    margin-right: 3rem;
    color: var(--colorText);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 4rem 1rem;
  }
  #about-panel h2 {
    grid-column: 1/-1;
  }
  #about-panel::before,
  #about-panel::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 48px;
    background-image: url(../assets/ui_elements/ornament.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  #about-panel::after {
    bottom: 0;
    transform: rotate(180deg);
  }
  #about-panel::before {
    top: 0;
  }

  #student-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    position: relative;
  }
  #student-list-wrapper aside {
    order: initial;
  }

  #interaction-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }

  main {
    padding: 0 3rem;
  }
  /* student card */

  .student-card {
    grid-template-columns: 42px 42px 5fr 2fr 2fr;
  }

  .student-card:hover {
    left: 2rem;
  }
  .student-card:hover:before {
    opacity: 0.8;
    left: -3.6rem;
  }

  .student-card-house-image,
  .student-card-student-image {
    width: 100%;
  }
  /* popup styling */

  /* student details */
  .student-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    max-width: 800px;
  }

  .student-details-info img {
    width: 150px;
    height: auto;
    position: relative;
  }

  .student-details-img-wrapper::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: url(../assets/ui_elements/student-frame.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
  }

  .student-details-img-wrapper {
    width: fit-content;
    position: relative;
  }

  .student-details-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  .student-details-admin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
  .student-details-icons img {
    width: 100%;
  }

  .student-details-icons {
    grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .student-card {
    display: grid;
    grid-template-columns: 48px 48px 4fr 2fr 2fr;
    gap: 1rem;
    align-items: center;
  }

  #about-panel {
    padding: 3rem;
  }
}
